<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Papelaria Arte do Papel</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />

<link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>

	<div class="container">
		<div class="jumbotron">
			<h1>Papelaria Arte do Papel</h1>
		</div>

		<h4>Novo produto</h4>

		<form th:action="@{/produto/salvar}"
			th:method="${produto.id} == 0 ? post : put" th:object="${produto}">
			<div class="row">
				<input id="id" type="hidden" th:field="*{id}" />


				<div class="form-group col-md-4">
					<label for="codigoBarras"> Código de barras:</label> <input
						class="form-control" id="codigoBarras" type="text" maxlength="15"
						th:field="*{codigoBarras}" />
					<div th:if="${#fields.hasErrors('codigoBarras')}" class="text-danger"
						th:errors="*{codigoBarras}" role="alert"></div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label for="nome">Nome:</label> <input class="form-control"
						id="nome" type="text" th:field="*{nome}" maxlength="60"/>
					<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger" role="alert"></div>
				</div>

			</div>
			
			<div class="row">
				<div class="form-group col-md-4">
					<label for="quantidade">Quantidade:</label> <input
						class="form-control" id="quantidade" type="number"
						th:field="*{quantidade}" />
					<div th:if="${#fields.hasErrors('quantidade')}"
						th:errors="*{quantidade}" class="text-danger" role="alert"></div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label for="categoria">Categoria:</label> <input maxlength="60"
						class="form-control" id="categoria" type="text"
						th:field="*{categoria}" />
					<div th:if="${#fields.hasErrors('categoria')}"
						th:errors="*{categoria}" class="text-danger" role="alert"></div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-md-4">
					<label for="descricao">Descrição:</label> <textarea
						class="form-control" id="descricao" maxlength="144"
						th:field="*{descricao}" >
						</textarea>
					<div th:if="${#fields.hasErrors('descricao')}"
						th:errors="*{descricao}" class="text-danger" role="alert"></div>
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit">Salvar</button>
			</div>

		</form>

		<hr />

		<a class="btn btn-secondary" th:href="@{/produto/listar}">Voltar</a>

		<hr />
		<footer class="footer">
			<p>&copy; 2019 Fabio Rocha</p>
		</footer>

	</div>
</body>
</html>
