<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Papelaria Arte do Papel</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />

<link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />

</head>
<body>

	<div class="container">
		<div class="jumbotron">
			<h1>Papelaria Arte do Papel</h1>
		</div>




		<div class="card">
			<div class="card-header">
				<h4>Detalhe do produto</h4>
			</div>
			<div class="card-body">
				<h5 class="card-title">Nome:</h5>
				<p class="lead" th:text="${produto.nome}"></p>
				<h5 class="card-title">Código de Barras:</h5>
				<p class="lead" th:text="${produto.codigoBarras}"></p>
				<h5 class="card-title">Quantidade:</h5>
				<p class="lead" th:text="${produto.quantidade}"></p>
				<h5 class="card-title">Categoria:</h5>
				<p class="lead" th:text="${produto.categoria}"></p>

				<h5 class="card-title">Descrição:</h5>
				<p class="lead" th:text="${produto.descricao}"></p>

			</div>
		</div>

		<hr />
		<a class="btn btn-secondary" th:href="@{/produto/listar}">Voltar</a>

		<hr />
		<footer class="footer">
			<p>&copy; 2019 Fabio Rocha</p>
		</footer>

	</div>
</body>
</html>
