<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Papelaria Arte do Papel</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />

<link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />

</head>
<body>

	<div class="container">
		<div class="jumbotron">
			<h1>Papelaria Arte do Papel</h1>
		</div>

		<div>
			<a class="btn btn-primary" th:href="@{/produto/cadastro}">Novo
				produto</a>
		</div>
		<hr />

		<div th:if="${produtos != null}">
			<h4>Produtos</h4>

			<div th:if="${mensagem != null}">
				<div class="alert alert-info" role="alert">
					<span th:text="${mensagem}">mensagem</span>
				</div>
			</div>

			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Código de Barras</th>
						<th>Quantidade</th>
						<th>Categoria</th>
						<th>Ação</th>
					</tr>
				</thead>
				<tr th:each="produto : ${produtos}">
					<td th:text="${produto.nome}">nome</td>
					<td th:text="${produto.codigoBarras}">Código de Barras</td>
					<td th:text="${produto.quantidade}">Quantidade</td>
					<td th:text="${produto.categoria}">Categoria</td>
					<td class="btn-group"><a class="btn btn-sm btn-info"
						th:href="@{/produto/{id}/atualizar(id=${produto.id})}">Editar</a>
						<a class="btn btn-sm btn-danger"
						th:href="@{/produto/{id}/remover(id=${produto.id})}">Excluir</a> <a
						class="btn btn-sm btn btn-success"
						th:href="@{/produto/{id}/detalhe(id=${produto.id})}">Detalhe</a></td>
				</tr>
			</table>
		</div>

		<div th:if="${#lists.isEmpty(produtos)}">
			<div class="alert alert-info" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign"></span> 0
				produtos cadastrados!
			</div>
		</div>
		<hr />

		<a class="btn btn-secondary" href="/home">Voltar</a>
		<hr />

		<footer class="footer">
			<p>&copy; 2019 Fabio Rocha</p>
		</footer>

	</div>
</body>
</html>